.infoContent
  min-height: calc(100vh - 420px)
  padding-top: 3%
  .row
    margin 20px
  p
    font-size 1.2em
    color #555555

  h2
    padding-top 20px
    font-weight bolder
    color #444444

  .email-addr
    color #333333
    font-size 1.7em
