<template name="footer">
  <footer class="footer-distributed">
    <div class="footer-left">
      <h3><img src="https://s1.postimg.org/352byw9k27/logo.png" alt="logo"/></h3>
      <p class="footer-links">
        <br/>
        <a href="#">Home</a>
        <i class="fa fa-connectdevelop"></i>
        <a href="/products/men?category=hoodie">Men</a>
        <i class="fa fa-connectdevelop"></i>
        <a href="/products/women?category=hoodie">Women</a>
        <i class="fa fa-connectdevelop"></i>
        <a href="#">Sale</a>
        <i class="fa fa-connectdevelop"></i>
        <a href="#">Info</a>
      </p>
      <p class="footer-company-name">Tantrum&copy; 2017</p>
      <div class="footer-icons">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>
      </div>
    </div>
    <div class="footer-right">
      <p>Contact Us</p>
      <form action="#" method="post">
        <input type="text" name="email" placeholder="Email"/>
        <textarea name="message" placeholder="Message"></textarea>
        <button>Send</button>
      </form>
    </div>
  </footer>
</template>
