<template name="horizontalGallery">
    <div class="galleryBox">
        <div class="col-sm-12 col-md-9 col-lg-9 products">
            <div class="row">
                <div class="row">
                    {{#each clothesHorizontalList}}
                        <div class="col-sm-3 ">
                            {{> cloth}}
                        </div>
                    {{/each}}
                </div>

                    <!--<div class="swiper-container">-->
                        <!--<div class="swiper-wrapper">-->
                            <!--{{#each clothesList}}-->
                            <!--<div class="swiper-slide col-4">-->
                                <!--{{> cloth}}-->
                            <!--</div>-->
                            <!--{{/each}}-->
                        <!--</div>-->

                        <!--<div class="swiper-button-next"></div>-->
                        <!--<div class="swiper-button-prev"></div>-->
                    <!--</div>-->


            </div>
        </div>
    </div>
</template>