<template name="horizontalGallery">
    <div class="galleryBox col-12">
            <div class="row">
                <!--<div class="row">-->
                    <!--{{#each clothesHorizontalList}}-->
                <!--<div class="col-sm-3 ">-->
                <!--{{> cloth}}-->
                <!--</div>-->
                    <!--{{/each}}-->
                <!--</div>-->

                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        {{#each clothesHorizontalList}}
                            <div class="swiper-slide col-4">
                                {{> cloth}}
                            </div>
                        {{/each}}
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>

                </div>
            </div>
    </div>
</template>