.adminMainContainer
  padding 1em


  .budget
    margin 1em
    padding: 2em
    background-color: lightgray

  h3
    padding 0.5em


  .deliveries

    .deliveryHeader
      text-transform: uppercase
      backround: red
      word-wrap: break-word;

      div
        border 1px solid black

    .deliveryBox
      p
        margin: 0
      div
        border 1px solid lightgray
      &:hover
        border 1px solid orangered