.adminMainContainer
  padding 1em

  .deliveryHeader
    text-transform: uppercase
    backround: red
    word-wrap: break-word;

    div
      border 1px solid black

  .deliveryBox
    p
      margin: 0
    div
      border 1px solid lightgray
    &:hover
      border 1px solid orangered