.detailsMain
  background-color lightgray
  background white
  margin 0.5 em
  border 0.1 em solid gray
  padding 0.5 em

div p
  text-align left

.description
  margin 0.5 em
  padding 0.5 em
  font-size 1.5em
 
.photo
  position absolute
  top 0
  height 300px
  width 100%
  object-fit cover
  background-color white

.name
  font-size 3em
  font-weight bold

.price
  padding 13px 30px 10px 30px
  font-weight bold
  font-size 2.3em

.cartButton
  background-color darkorange
  color white
  padding 13px 30px 10px 30px
  font-weight bold
  margin-left 1.3em
  text-transform uppercase
  font-size 1.3em

.horizontalSpacer
  margin-top: 20px
