.detailsMain
  padding: 40px 0
  background lightgray

.detailsBox
  background white
  text-align left
  padding-left: 20px

.name
  font-size 3em
  font-weight bold

.price
  font-weight bold
  font-size 2.3em
.taxInfo
  font-size 0.5em
  font-weight: lighter

.amountBox
  outline: none
  display: inline-block
  padding: 6px 12px
  margin-bottom: 0
  font-size: 14px
  font-weight: normal
  line-height: 1.42857143
  text-align: center
  white-space: nowrap
  vertical-align: middle
  -ms-touch-action: manipulation
  touch-action: manipulation
  cursor: pointer
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  background-image: none
  border: 1px solid lightgray
  border-radius: 4px

.description
  text-align left
  padding-top: 25px
  font-size 1em

.sizesList
  text-align: left
  font-size: 1.1em
  padding-top: 25px
.photo
  width 100%
  object-fit cover

button
  outline: 0


.photoBox
  position: relative
  .arrow
    position: absolute
    top: 45%
  .left
    left: -10px
  .right
    right: -10px


.cartIcon
  position: absolute
  top: 13px
  right: 15px

.cartButton
  position: relative
  color: white
  height: 42px
  width: calc(55% - 5px)
  margin-top: 15px
  margin-bottom: 0;
  padding: 0 26px
  line-height: 40px
  letter-spacing: 3px
  font-family: Poppins
  font-weight: 700
  font-size: 16px
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  -webkit-transition: all .15s ease-in-out
  -khtml-transition: all .15s ease-in-out
  -moz-transition: all .15s ease-in-out
  -ms-transition: all .15s ease-in-out
  -o-transition: all .15s ease-in-out
  transition: all .15s ease-in-out
  b
    color: black
    -moz-osx-font-smoothing: grayscale
    -webkit-font-smoothing: antialiased

