<template name="cart">
  {{#with userCart}}
    {{#if stageOne}}
    <div class="row cartBox">
      <!--Title-->
      <div class="col-sm-12">
        <h2 class="title">Shopping cart</h2>
      </div>
      <!--Categories--><!--Items-->
      <div class="col-sm-12 cartItemsList">
        <div class="row cartItem">
          <div class="col-sm-2">
            <p>Amount</p>
          </div>
          <div class="col-sm-5">
            <p>Name</p>
          </div>
          <div class="col-sm-1">
            <p>Size</p>
          </div>
          <div class="col-sm-1">
            <p>Price</p>
          </div>
          <div class="col-sm-2">
          </div>
        </div>
        {{#each cartItem}}
          <div class="row cartItem">
            <div class="col-sm-2">
              <p>{{amount}}x</p>
            </div>
            <div class="col-sm-5">
              <p>{{productName id}}</p>
            </div>
            <div class="col-sm-1">
              <p>{{size}}</p>
            </div>
            <div class="col-sm-1">
              <p>{{productPrice id}}</p>
            </div>
            <div class="col-sm-1">
              <button class="btn btn-sm btn-primary btn-add"
                      value="{{id}}" data-size="{{size}}">+</button>
            </div>
            <div class="col-sm-1">
              <button class="btn btn-sm btn-warning btn-sub"
                      value="{{id}}" data-size="{{size}}">-</button>
            </div>
          </div>
        {{/each}}
      </div>
      <div class="col-sm-offset-9 col-sm-3">
        <h3>Total:</h3>
        <p>{{totalPrice}}</p>
      </div>
      <div class="col-sm-12">
        <buttton class="btn btn-primary btn-block btn-lg">Zamów</buttton>
      </div>
    </div>
  {{else}}
      {{#if stageTwo}}

        {{else}}

      {{/if}}
    {{/if}}
  {{/with}}
</template>