.cartBox
  position: fixed
  top: 60px
  right: 20px
  height: calc(100vh - 70xp)
  width: 400px
  background: whitesmoke
  z-index 999
  text-align: left
  .title
    color: red
  .cartItemsList
    height: 400px
    padding-bottom: 20px
    overflow-y: scroll
    p
      padding: 10px 0
    .cartItem
      background-color: white
      .col-*
        border-bottom: 1px solid black
      .amount
      .name
      .price
        font-size: 16px
  .btn-order
    margin-top: 20px


