<template name="cart">
  <div class="row cartBox">
        <div class="col-sm-12">
          <h2 class="title">Shopping cart</h2>
        </div>
      <div class="col-sm-12">

          <div class="cartItemsList">
              <div class="row titles">
                  <div class="col-3 ">
                      <span> Amount </span>
                  </div>
                  <div class="col-6 ">
                      <span> Name </span>
                  </div>
                  <div class="col-3 ">
                      <span> Price</span>
                  </div>
              </div>

              {{#each cartItem}}
                  <div class="row cartItem">
                      <div class="col-3 amount">
                          <span> 1 </span>
                      </div>
                      <div class="col-6 name">
                          chuj
                      </div>
                      <div class="col-3 price">
                          7,50 $
                      </div>
                  </div>
              {{/each}}
          </div>

      </div>
<!--button bootstrap, btn btn-primary btn-block-->
      <!--btn-lg btn-md-->
  </div>
</template>