.cartBox
  position: fixed
  top: 60px
  right: 20px
  min-height: 600px
  width: 400px
  background: whitesmoke
  z-index 999
  .row
    padding-left: 20px
  .title
    color: red


  .cartItemsList
    padding: 1em
    background-color: white



    .cartItem
      border-bottom: 1px solid black
      padding-bottom: 5px




