.navbar
.navbar-header
  box-sizing: inherit
  img
    padding-right: 5%
    width: 128px
    height: 50px
.navbar-brand
  padding: 0
.dropdown
  display: inline-block
  position: relative
  &:hover
    display: block
    opacity: 1;
    .dropdown-menu
      display: block

.dropdown-menu
  display: none
  a
    display: block
    color: black
    width: inherit
    text-decoration: none
    &:hover
      background-color: #f1f1f1

.nav .navbar-nav
  ul
    display: inline-block
    background: #ddd
    padding: 0
    margin: 0
    border-radius: 5px
    list-style: none
    li
      font-size: 14px
      cursor: pointer
      float: left
      text-transform: uppercase
      &:hover
        background: #d5d5d5
        border-radius: 5px;
  &:hover
    background: #606060
  &:last-child
    border-radius: 0 0 5px 5px
    padding: 0

#login-dropdown-list
  position: fixed
  top: 60px
  left: calc(100% - 240px)
#login-buttons a, .accounts-dialog a
  cursor: pointer
  text-decoration: none
  color: inherit
#login-buttons .login-close-text
  float: right
  position: relative
  padding-bottom: 8px

