.promoBox
  position: relative
  padding: 1em
  .promoPhoto
    width: 100%
  .promoButton
    background-color: transparent
    position: absolute
    top: 75%
    width: 10em
    height 3em
    font-weight bolder
    font-size 1.5em
    color whitesmoke
    border-style: solid
    border-width: 0.2em
    border-color: whitesmoke
  .promoButton:hover
    background-color white
    color black
  .men
      right: 3em
  .women
      left: 3em

