<template name="productGallery">
    <div class="row">
        <div class="col-sm-12 col-md-3 filters">
            <div class="row">
                <div class="col-sm-6 col-md-12 ">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3> Categories</h3>
                            <ul class="listOfCategories">
                                {{#each categories}}
                                    <li><button class="categoryButton" value="{{type}}">{{type}}</button></li>
                                {{/each}}
                            </ul>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h3> Sizes</h3>
                            <ul class="listOfCategories">
                                <li> <button class="sizeButton" value="XS">XS</button></li>
                                <li> <button class="sizeButton" value="SM">SM</button></li>
                                <li> <button class="sizeButton" value="MD">MD</button></li>
                                <li> <button class="sizeButton" value="LG">LG</button></li>
                                <li> <button class="sizeButton" value="XL">XL</button></li>

                            </ul>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h3> Colors</h3>
                            <ul class="listOfCategories">
                                {{#each clothesColor}}
                                    <li><button class="colorButton" value="{{color}}">{{color}}</button></li>
                                {{/each}}
                            </ul>
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-12">
                    others
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-9 products">
            <div class="row">
                {{#each clothesList}}
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        {{> cloth}}
                    </div>
                {{/each}}
            </div>
        </div>
    </div>

</template>