ul
  -webkit-padding-start: 0
.tabDetails
  ul
    -webkit-padding-start: 15px
    list-style-type: disc

.tabShipping
  p
    text-align left
  ul
    -webkit-padding-start: 0
    list-style-type: none
