<template name="Tabs">

  <!-- Use `name` to add a custom class to the outer container -->
  {{#basicTabs name="" tabs=tabs}}
    <!--
      There are two ways to define content for your tabs:
      1. Wrap each tabbed section in a blank `<div></div>`.
         Sections must correspond with the order of the tabs you specified.
      2. Wrap each tabbed section in the provided block helper (RECOMMENDED!).
         `{{#tabContent slug="nameOfSlug"}} ... {{/tabContent}}`
         These can be defined in any order you like.
    -->
    {{#tabContent slug="details"}}
      <div class="row tabDetails">
        <div class="col-sm-12">
          <p class="text-left">Item fits true to size.</p>
        </div>
        <div class="col-sm-12">
          <b class="text-left">INFO</b>
        </div>
        <div class="col-sm-12">
          <ul>
            <li> Oversized fit</li>
            <li> Round neck</li>
            <li> High quality material</li>
            <li> Handmade in Europe</li>
          </ul>
        </div>
        <div class="col-sm-12">
          <b class="text-left">CARE</b>
          <ul>
            <li>Gentle machine wash at 30°C with similar colors or hand wash in cold water</li>
            <li> The fabric is super soft, smooth and delicate so please treat this garment with care and
              avoid rough surfaces
            </li>
          </ul>
        </div>
      </div>
    {{/tabContent}}

    {{#tabContent slug="shipping"}}
      <div class="row tabShipping">
        <ul>
          <li><b>Germany</b> - DHL Courier - 2-3 working days</li>
          <li><b>Rest of European Union </b>- UPS Courier - 2-5 working days</li>
          <li><b>North and South America</b> - USPS / Postal Service - 10-14 working days</li>
          <li><b>Switzerland</b> - Swiss Post - 9-12 working days</li>
          <li><b>Norway</b> - Posten - 8-12 working days</li>
        </ul>

        <p><b>SAME DAY</b> order shipment on orders made before 14:00 CEST!</p>
        <p><b>FREE SHIPPING</b> on all orders!</p>
        <p>The shipment is <b>fully traceable</b> with tracking number sent in Confirmation email after dispatching.</p>

      </div>
    {{/tabContent}}

    {{#tabContent slug="sizes"}}
      <div class="row">
        <div class="col-sm-6 sizeImage">
          <img src="https://s7.postimg.org/jt89w65y3/size_hoodies.jpg" alt="logo">
        </div>
        <div class="col-sm-6">
          {{#if whichType}}
            <button class="btn btn-primary btn-lg btn-toCm">To Cm</button>
          {{else}}
            <button class="btn btn-primary btn-lg btn-toInch">To Inch</button>
          {{/if}}
        </div>
        <table class="col-sm-12 tg">
          <tr class="row">
            <th class="col-sm-3 tg-7fle">Sizes</th>
            <th class="col-sm-3 tg-erlg">A</th>
            <th class="col-sm-3 tg-erlg">B</th>
            <th class="col-sm-3 tg-erlg">C</th>
          </tr>
          <tr class="row">
            <td class="col-sm-3 tg-baqh">XS</td>
            <td class="col-sm-3 tg-yw4l">{{inchOrCm 21}}</td>
            <td class="col-sm-3 tg-yw4l">{{inchOrCm 26}}</td>
            <td class="col-sm-3 tg-yw4l">{{inchOrCm 29}}</td>
          </tr>
          <tr class="row">
            <td class="col-sm-3 tg-6qw1">S</td>
            <td class="col-sm-3 tg-le8v">{{inchOrCm 22}}</td>
            <td class="col-sm-3 tg-le8v">{{inchOrCm 27}}</td>
            <td class="col-sm-3 tg-le8v">{{inchOrCm 30}}</td>
          </tr>
          <tr class="row">
            <td class="col-sm-3 tg-baqh">M</td>
            <td class="col-sm-3 tg-yw4l">{{inchOrCm 22}}</td>
            <td class="col-sm-3 tg-yw4l">{{inchOrCm 27}}</td>
            <td class="col-sm-3 tg-yw4l">{{inchOrCm 31}}</td>
          </tr>
          <tr class="row">
            <td class="col-sm-3 tg-6qw1">L</td>
            <td class="col-sm-3 tg-le8v">{{inchOrCm 23}}</td>
            <td class="col-sm-3 tg-le8v">{{inchOrCm 28}}</td>
            <td class="col-sm-3 tg-le8v">{{inchOrCm 32}}</td>
          </tr>
          <tr class="row">
            <td class="col-sm-3 tg-baqh">XL</td>
            <td class="col-sm-3 tg-yw4l">{{inchOrCm 24}}</td>
            <td class="col-sm-3 tg-yw4l">{{inchOrCm 29}}</td>
            <td class="col-sm-3 tg-yw4l">{{inchOrCm 33}}</td>
          </tr>
        </table>
      </div>
    {{/tabContent}}
  {{/basicTabs}}
</template>