<template name="cloth">
    <div class="row cloth ">
        <div class="col-sm-12 ">
            <div class="row">
                <img class="clothPhoto" src="{{photo}}">
            </div>
            <div class="row">
                <p class="clothName">{{name}}</p>
            </div>
            <div class="row">
                <p class="clothPrice">{{price}}</p>
            </div>
            <div class="row">
                <p class="clothCreator">{{creator}}</p>
            </div>
        </div>
    </div>

</template>