.clothMain
  background-color lightgray
  min-height: 400px
  margin 0.5 em
  border 0.1 em solid gray
  padding 0.5 em

div p
  text-align: center

.imageHolder
  position: relative
  height: 310px

.clothPhoto
  position: absolute
  top: 0
  height: 300px
  width: 100%
  object-fit: cover
  background-color white

.clothName
  font-weight bold

.clothPrice
  font-weight bold
  font-style: italic

.clothCreator
  font-style: italic

