.cloth
  background-color lightgray
  margin 0.5 em
  border 0.1 em solid gray
  padding 0.5 em

div p
  text-align: center


.clothPhoto
  width: 100%
  background-color white

.clothName
  font-weight bold

.clothPrice


  font-weight bold
  font-style: italic

.clothCreator

  font-style: italic

