<template name="cloth">
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="row">
      <div class="col-sm-12 clothMain">
        <div class="imageHolder">
          {{#if imageVisible}}
            <img class="clothPhoto " src="{{photo}}">
          {{else}}
            <img class="clothPhoto " src="{{photoSec}}">
          {{/if}}
        </div>
        <div class="col-sm-12">
          <p class="clothName">{{name}}</p>
          <p class="clothPrice">{{price}}</p>
          <p class="clothCreator">{{creator}}</p>
        </div>
      </div>
    </div>
  </div>
</template>