<template name="adminFinances">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">User</div>
      <div class="col-sm-2">CartId</div>
      <div class="col-sm-3">Items</div>
      <div class="col-sm-3">Date</div>
      <div class="col-sm-2">Total</div>
    </div>
    {{#each recieptList}}
      <div class="row orderBox">
        <div class="col-sm-2"><p>{{giveMeName orderDetails}}</p></div>
        <div class="col-sm-2"><p>{{cartId}}</p></div>
        <div class="col-sm-3">
          {{#each items}}
            <p>{{productDetails id}} - x {{amount}} in size {{size}} </p>
          {{/each}}
        </div>
        <div class="col-sm-3"><p>{{shortDate createdAt}}</p></div>
        <div class="col-sm-2"><p>{{price}}$</p></div>
      </div>
    {{/each}}
  </div>
</template>