.adminProductsHeader
  text-transform: uppercase
  backround: red
  word-wrap: break-word;
  div
    border 1px solid black
.adminProducts
  div
    border 1px solid lightgray
  &:hover
    div
      border 1px solid orangered

.activeRow
  background: lightcoral
.activeRowDesc
  background: lightgreen
.activeInput
  background: blue
  border 1px solid red