<template name="adminMain">
<div class="adminMainContent">
    <div class="row"><div class="col-md-12"><h2 class="greet">Dashboard</h2></div></div>
    <div class="row">
        <div class="col-md-6">
            <h3 class="chartname">New users per month</h3>
            <div id="chartNOU"></div></div>
        <div class="col-md-6">
            <h3 class="chartname">Average conversion rate</h3>
            <div id="chartCR"></div></div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3 class="chartname">Sales</h3>
            <div id="chartSales"></div></div>
        <div class="col-md-6">
            <h3 class="chartname">Stock</h3>
            <div id="chartStock"></div></div>
    </div>
</div>
</template>
