.salesContainer
  position: relative
  padding-left: 0
  padding-right: 0

  h2
    font-weight bolder

  .promoPhoto
    display: block;
    margin: auto;
    width: 80%;


  .promoButton
    background-color: transparent
    position: absolute
    top: 75%
    right: 35%
    width: 20em
    height 3em
    font-weight: bolder
    font-size 1.5em
    color whitesmoke
    border: 0.2em solid whitesmoke

  .promoButton:hover
    background-color white
    color black

  ul
    list-style: none

  li
    display: inline-block

  .salesBarElement
    padding-right: 1em
    padding-left: 1em
    padding-bottom: 0.6em
    padding-top: 0.6em
    margin-left: 1em
    text-decoration: none
    font-size: 1.2em
    color: black
    border-style: 0.1em solid black
    cursor: pointer

  .always-cheaper-tab
    padding: 2em

  .salesBarElement:hover
    color: white
    background-color: black

  .salesBarTitle
    padding: 1.5em
    font-weight: bolder
    font-size 1.5em